.product{
    display:flex;
    flex-direction: row;
    gap: 40px;
}
.bookCard{
    width: 12.5rem;
    height: 21.875rem;
    border-width: 1px;
    border-radius: 4px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F4F4FF;
    border:none;
    cursor: pointer;
    align-items:center

}
.cover{
    width: 9.375rem;
    height: 14.375rem;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px #6251DD33;
    position:relative;
   

}
.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.info{
   
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.info>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    color:#090937;
    display:flex;
    text-align: left;
}
.info>p{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    color:#09093799;
    text-align: left;

}
.price{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #6251DD;
    margin-top: 20px;
}
.delete{
    background: none;
    border: none;
    padding: none;
}
.delete>img{
    width: 50px;
    height: 50px;
}