
.lines{
    max-width: 1300px;
    width: 100%;
    min-height: 970px;
    margin-left: 60px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 31px;
    margin-bottom: 50px;
    gap:100px

}
.search{
    width: 600px;
    height: 50px;
    margin-top: 45px;
    margin-left: 400px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    background-color: #f4f4f4;
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    display: flex;
    align-items: center;

}
.search>input{
    margin-left: 50px;
    border:none;
    background: none;
    max-width:600px;
    width:100%;
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;

}
.search>input:focus{
    outline: none;
}
.icon{
    display: block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: none;
    padding: none;
    border:none;
   cursor: pointer;

}
.search::placeholder{
    color: #09093766;
}



.books{
    max-width: 81.25rem;
    width:100%;
    min-height: 60.625rem;
    margin-top: 1.9375rem;
    margin-left: 3.75rem;
    border-width: 1px;

}
.title{
    margin-top: 4.375rem;
    width: 82.5rem;
    height: 2.0625rem;   
    margin-left: 3.75rem;
    gap: .625rem;
    display: flex;
    align-items:center;
}
.title>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    color:#090937;
    margin-left: .625rem;
    
}
.title>button{
    border:none;
    background:none;
    cursor: pointer;
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
   

}
.back{
    position: absolute;
    font-display: block;
}

.error{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    color:#090937;
    margin-left: .625rem;
}
