
.lineUp{
    display: flex;
    flex-direction: row;
    gap:1.25rem;
}

.superior{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}
.superior>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: #090937;

}
.superior>button{
    background: none;
    color:#EF6B4A;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    border:none;
    cursor: pointer;
}
.superior>button:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
    color: #f14d23;
}
.system{
     font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    color:#090937;
    margin-left: .625rem;
}
