
.lineUp{
    display: flex;
    flex-direction: row;
    gap:20px
}

.superior{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.superior>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: #090937;

}
.superior>button{
    background: none;
    color:#EF6B4A;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    border:none;
}