.outdoor{
    max-width: 1160px;
    width:100%;
    height: 400px;
    margin-top: 40px;
    margin-left: 92px;
    border-width: 1px;
    border-radius: 8px;

}

.lines{
    display:flex;
    flex-direction: column;
    gap:6.25rem;
    margin-top: 5.75rem;
    margin-left: 5.75rem;
    max-width: 72.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 3.125rem;
}