.outdoor{
    max-width: 1160px;
    width:100%;
    height: 400px;
    margin-top: 40px;
    margin-left: 92px;
    border-width: 1px;
    border-radius: 8px;

}

.lines{
    display:flex;
    flex-direction: column;
    gap:100px;
    margin-top: 92px;
    margin-left:92px;
    max-width: 1160px;
    width: 100%;
    height: 264px;
}