.bookCard{
    max-width: 20rem;
    width: 100%;
    height: 12.5rem;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    gap: 33px;
    display: flex;
    flex-direction: row;
    background-color: #F4F4FF;
    border:none;
    

}
.cover{
    max-width: 7.5rem;
    width: 100%;
    height: 11.25rem;
    border-radius: 4px;

}

.info{
    width: 6.5rem;
    height: 11.25rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color:#090937;
    display:flex;
    text-align: left;
}
.info>p:first-child{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color:#09093799;
    text-align: left;

}
.info>p:last-child{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    color: #6251DD;
    margin-top: 20px;
}