.menu{
    max-width: 75rem;
    width: 100%;
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    box-shadow: 0px 8px 10px 0px #09093705;
    align-items: center;
}
.logo{
    width: 3.75rem;
    height: 2.4375rem;
    margin-left: .625rem;
}
.buttons{
    width: 7.25rem;
    height: 3.125rem;
    gap: 1rem;
    display: flex;

}
.button{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 4px;
    border:none;
    background:none;
    cursor: pointer;
    display: flex;
}
.pic{
    position: absolute;
    font-display: block;
}
.button:hover{
    transform: scale(1.2,1.2);
    transition: 0.9s;
    
}