.title{
    margin-top: 40px;
    width: 1160px;
    height: 2.0625rem;
    margin-left: 60px;
    gap: 10px;
    display: flex;
    align-items:center;
}
.title>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color:#090937;
    margin-left: 10px;
    
}
.title>button{
    border:none;
    background:none;
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
   

}
.sumary{
    display: flex;
    flex-direction: row;
    margin-top:31px;
    margin-left: 3.75rem;
    width: 1160px;
    
    height:auto;
}

.card{
    width: 350px;
    height: 400px;
    border-radius: 4px;
    border-width: 1px;
    padding: 60px;
    gap: 20px;
    background-color: #F4F4FF;
    border:1px solid #0909371A

}
.card>img{
    width: 18.75rem;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px #6251DD33;
}
.more{
    height: 35.625rem;
    display: flex;
    flex-direction: column;
    gap:60px;
    margin-left: 3rem;
    align-items: flex-start;
}
.names{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.names>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    color: #000000;
}
.names>h2{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
}
.sinopse{
    max-width: 51.25rem;
    width: 100%;
    height: 23.3125rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.sinopse>h1{
    font-family: 'Manrope',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color: #090937;
 
}
.sinopse>p{
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-align: justify;
    color: #09093799;
    display: flex;
    flex-wrap:wrap;;
}